{% extends "authentication/_base_auth.html" %}
{% block content %}


    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
          <div class="card mt-5">
      
      
            <div class="card-body" style="background-color: rgb(222, 242, 247);">
              <div class="card-title py-3">
                <form method="POST">
                    {% csrf_token %}
                    <fieldset class="form-group">
                        <legend class="border-bottom mb-4">Reset Password</legend>
                        {{ form}}
                    </fieldset>
                    
                    <input type="submit" value="Reset Password" class="mt-2 btn btn-block btn-primary submit-btn" />
                </form>
            </div>
      
            </div>
          </div>
        </div>
        <div class="col-md-4"></div>
      </div>
      
    <style>
        input{
            width: 100%;
        }
    </style>
{% endblock content %}